/* You can add global styles, and also import other style files here */
@import "mixins";
@import "hamburger";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body{
  @include no-margin-padding;
  width: 100%;
}

header, section, footer{
  margin: 0;
  width: 100%;
}

/*hタグの設定*/
h1{
  margin-top: 0;
  @include resp-ps-margin-bottom(24px, 53px);
  padding: 0;
  @include resp-ps-height(95px, 51px);
  white-space: nowrap;
  letter-spacing: 0.05em;
  @include resp-ps-font-size(70px, 37px);
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  color: white;
  @media screen and (max-width: $sp-max){text-align: center;}
}
h2{
  @include no-margin-padding;
  @include resp-ps-height(82px, 41px);
  @include resp-ps-font-size(60px, 30px);
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 700;
  color: $base;
}

.br-pc{@include display-only-on-PC;}
.br-sp{@include display-only-on-SP;}

/*---------- You can add styles of each sections here ----------*/
header{
  position: relative;
  width: 100%;
  #pc-nav{
    position: fixed;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    @include display-only-on-PC;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 36px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 700;
    color: white;
    p{
      line-height: 1.38;
      letter-spacing: 0.05em;
      font-size: 26px;
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 30px;
      li{
        list-style: none;
        a{
          text-decoration: none;
          line-height: 1.375;
          letter-spacing: 0.05em;
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (min-width: $pc-min){
    ul .slider{
      @include no-margin-padding;
      list-style: none;
      &slider{
        img{
          width: 100%;
          height: auto;
        }
        .slick-slide{
          margin: 0;
        }
      }
    }
  }
  .slider{@include display-only-on-PC;}
  .spFv{
    @include display-only-on-SP;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 599px;
    overflow: hidden;
    img{
      @include display-only-on-SP;
      z-index: 0;
      height: 599px;
    }
  }
  .fvTitle{
    position: absolute;
    @include resp-ps-top(409px, 202px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    @include resp-ps-width(1200px, 348px);
    p{
      @include no-margin-padding;
      @include resp-ps-height(53px, 90px);
      letter-spacing: 0.05em;
      font-family: 'Noto Serif JP', serif;
      @include resp-ps-font-size(40px, 30px);
      font-weight: bold;
      color: white;
      @media screen and (max-width: $sp-max){
        line-height: 1.67;
        text-align: center;
        span{
          display: none;
        }
      }
      .br-sp{
        @media screen and (min-width: $pc-min) {display: none;}
      }
    }
  }

}
#concept{
  .sectionWrapper{
    margin-top: 100px;
    @include block-element-horizontal-center;
    @include resp-ps-margin-bottom(70px, 40px);
    @include resp-ps-width(1200px, 345px);
    .sectionTitle{
      display: flex;
      align-items: center;
      @include resp-ps-column-gap(33px, 31px);
      @include block-element-horizontal-center;
      @include resp-ps-margin-bottom(70px, 51px);
      min-width: 345px;
      max-width: 1000px;
      span{
        @include resp-ps-width(200px, 90px);
        height: 5px;
        background-color: $base;
      }
    }
    article{
      @include block-element-horizontal-center;
      @include resp-ps-width(1000px, 345px);
      font-family: "Noto Serif JP", serif;
      font-weight: 700;
      color: $text-primary;
      .title{
        @include resp-ps-margin-bottom(60px, 31px);
        width: 100%;
        @include resp-ps-height(95px, 57px);
        text-align: center;
        @include resp-ps-font-size(30px, 20px);
        @include resp-ps-line-height(1.67, 1.5);
        letter-spacing: 0.05em;
      }
      .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
        align-items: center;
        @include resp-ps-margin-bottom(70px, 40px);
        .body{
          @include resp-ps-width(440px, 345px);
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 1.875;
        }
        img{
          @include resp-ps-width(440px, 345px);
          @include resp-ps-height(240px, 150px);
        }
      }

    }
    .sectionSubtitle{
      @include resp-ps-height(122px, 55px);
      text-align: right;
      font-family: "Noto Serif", serif;
      @include resp-ps-font-size(90px, 40px);
      letter-spacing: 0.05em;
      opacity: 0.05;
    }
  }
}
#works{}
#service{}
#contact{}
#footer{}