/* You can add global styles, and also import other style files here */
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body{
  @include no-margin-padding;
  width: 100%;
}

header, section, footer{
  margin: 0;
  width: 100%;
}

/*hタグの設定--個々の値は案件によって変える*/
h1{
  margin-top: 0;
  @include resp-ps-margin-bottom(24px, 53px);
  padding: 0;
  @include resp-ps-height(95px, 51px);
  white-space: nowrap;
  letter-spacing: 0.05em;
  @include resp-ps-font-size(70px, 37px);
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  color: white;
  @media screen and (max-width: $sp-max){text-align: center;}
}

/*---------- You can add styles of each sections here ----------*/
header{
  position: relative;
  width: 100%;
  #pc-nav{
    position: absolute;
    z-index: 800;
    @include display-only-on-PC;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 36px;
    font-family: 'Noto Serif', serif;
    color: white;
    ul{
      li{
        display: inline;
        a{
          text-decoration: none;
        }
      }
    }
  }
  @media screen and (min-width: $pc-min){
    ul .slider{
      @include no-margin-padding;
      list-style: none;
      &slider{
        img{
          width: 100%;
          height: auto;
        }
        .slick-slide{
          margin: 0;
        }
      }
    }
  }
  .slider{@include display-only-on-PC;}
  .spFv{
    @include display-only-on-SP;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 599px;
    overflow: hidden;
    img{
      @include display-only-on-SP;
      height: 599px;
    }
  }
  .fvTitle{
    position: absolute;
    @include resp-ps-top(409px, 202px);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    @include resp-ps-width(1200px, 348px);
    p{
      @include no-margin-padding;
      @include resp-ps-height(53px, 90px);
      letter-spacing: 0.05em;
      font-family: 'Noto Serif JP', serif;
      @include resp-ps-font-size(40px, 30px);
      font-weight: bold;
      color: white;
      @media screen and (max-width: $sp-max){
        line-height: 1.67;
        text-align: center;
        span{
          display: none;
        }
      }
      .br-sp{
        @media screen and (min-width: $pc-min) {display: none;}
      }
    }
  }

}
#concept{}
#works{}
#service{}
#contact{}
#footer{}