@charset "UTF-8";
/* You can add global styles, and also import other style files here */
/*ブレイクポイント*/
/*---ソリッドレイアウト用---*/
/*--PCとSPだけの場合--*/
/*position上右下左*/
/*gap*/
/*margin上右下左*/
/*padding上右下左*/
/*margin、padding 上下*/
/*width*/
/*height*/
/*font-size*/
/*line-height*/
/*letter-spacing*/
/*PC、SPでの表示・非表示*/
/*---ブレイクポイントを含まないもの---*/
/*-margin、padding-*/
/*-中央寄せ-*/
/*block要素*/
/*display: flex;*/
/*-幅いっぱい-*/
/*色を塗って幅いっぱい*/
/*縦横比を保って幅いっぱい*/
/*色の変数*/
/*ブレイクポイント*/
/*---ソリッドレイアウト用---*/
/*--PCとSPだけの場合--*/
/*position上右下左*/
/*gap*/
/*margin上右下左*/
/*padding上右下左*/
/*margin、padding 上下*/
/*width*/
/*height*/
/*font-size*/
/*line-height*/
/*letter-spacing*/
/*PC、SPでの表示・非表示*/
/*---ブレイクポイントを含まないもの---*/
/*-margin、padding-*/
/*-中央寄せ-*/
/*block要素*/
/*display: flex;*/
/*-幅いっぱい-*/
/*色を塗って幅いっぱい*/
/*縦横比を保って幅いっぱい*/
/*色の変数*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&display=swap");
/*https://coco-factory.jp/ugokuweb/move01/5-1-14/ を参考にした。*/
/*========= ナビゲーションのためのCSS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
@media screen and (min-width: 1200px) {
  #sp-nav {
    display: none;
  }
}
#sp-nav .sp-navWrapper {
  position: absolute;
  z-index: 9999;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 36px;
}
#sp-nav .sp-navWrapper .sp-navTitle {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.05em;
  color: white;
}
#sp-nav .sp-navWrapper .sp-navTitle.panelactive {
  display: none;
}
#sp-nav #hamburger-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 996;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  background-color: #282F35;
  /*動き*/
  transition: all 0.7s;
}
#sp-nav #hamburger-nav.panelactive {
  /*.panelactiveクラスの前にスペースを入れない*/
  /*アクティブクラスがついたら位置を0に*/
  right: 0;
  /*（アクティブ状態での）デザイン*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#sp-nav #hamburger-nav.panelactive ul li {
  margin-bottom: 30px;
  list-style: none;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.05em;
  color: white;
}
#sp-nav #hamburger-nav.panelactive ul li:last-child {
  margin-bottom: 0;
}

/*========= ボタンのためのCSS ===============*/
.hamburger-btn {
  cursor: pointer;
  width: 30px;
  height: 23px;
}
.hamburger-btn span {
  /*×に変化*/
  display: inline-block;
  transition: all 0.7s;
  position: absolute;
  right: 0px;
  width: 30px;
  height: 3px;
  background-color: white;
}
.hamburger-btn span:nth-of-type(1) {
  top: 7px;
}
.hamburger-btn span:nth-of-type(2) {
  top: 17px;
}
.hamburger-btn span:nth-of-type(3) {
  top: 27px;
}

.hamburger-btn.active {
  /*.activeクラスの前にスペースを入れない*/
}
.hamburger-btn.active span:nth-of-type(1) {
  top: 7px;
  right: 0px;
  width: 30px;
  transform: translateX(4.3917963225px) translateY(10.6082036775px) rotate(-45deg);
}
.hamburger-btn.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger-btn.active span:nth-of-type(3) {
  top: 7px;
  right: 0px;
  width: 30px;
  transform: translateX(4.3917963225px) translateY(10.6082036775px) rotate(45deg);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header, section, footer {
  margin: 0;
  width: 100%;
}

/*hタグの設定*/
h1 {
  margin-top: 0;
  padding: 0;
  white-space: nowrap;
  letter-spacing: 0.05em;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: white;
}
@media screen and (min-width: 1200px) {
  h1 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    margin-bottom: 53px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    height: 95px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    height: 51px;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 37px;
  }
}
@media screen and (max-width: 1199px) {
  h1 {
    text-align: center;
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  h2 {
    height: 82px;
  }
}
@media screen and (max-width: 1199px) {
  h2 {
    height: 41px;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1199px) {
  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .br-pc {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .br-sp {
    display: none;
  }
}

/*---------- You can add styles of each sections here ----------*/
header {
  position: relative;
  width: 100%;
}
header #pc-nav {
  position: fixed;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 36px;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 700;
  color: white;
}
@media screen and (max-width: 1199px) {
  header #pc-nav {
    display: none;
  }
}
header #pc-nav p {
  line-height: 1.38;
  letter-spacing: 0.05em;
  font-size: 26px;
}
header #pc-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
header #pc-nav ul li {
  list-style: none;
}
header #pc-nav ul li a {
  text-decoration: none;
  line-height: 1.375;
  letter-spacing: 0.05em;
  font-size: 16px;
}
header #pc-nav-bg.bg-navy {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 96px;
  background-color: #282F35;
}
@media screen and (min-width: 1200px) {
  header ul .slider {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header ul .sliderslider img {
    width: 100%;
    height: auto;
  }
  header ul .sliderslider .slick-slide {
    margin: 0;
  }
}
@media screen and (max-width: 1199px) {
  header .slider {
    display: none;
  }
}
header .spFv {
  z-index: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 599px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  header .spFv {
    display: none;
  }
}
header .spFv img {
  z-index: 0;
  height: 599px;
}
@media screen and (min-width: 1200px) {
  header .spFv img {
    display: none;
  }
}
header .fvTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: block;
}
@media screen and (min-width: 1200px) {
  header .fvTitle {
    top: 409px;
  }
}
@media screen and (max-width: 1199px) {
  header .fvTitle {
    top: 202px;
  }
}
@media screen and (min-width: 1200px) {
  header .fvTitle {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  header .fvTitle {
    width: 348px;
  }
}
header .fvTitle p {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  color: white;
}
@media screen and (min-width: 1200px) {
  header .fvTitle p {
    height: 53px;
  }
}
@media screen and (max-width: 1199px) {
  header .fvTitle p {
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  header .fvTitle p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1199px) {
  header .fvTitle p {
    font-size: 30px;
  }
}
@media screen and (max-width: 1199px) {
  header .fvTitle p {
    line-height: 1.67;
    text-align: center;
  }
  header .fvTitle p span {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header .fvTitle p .br-sp {
    display: none;
  }
}

#concept .sectionWrapper {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper {
    width: 345px;
  }
}
#concept .sectionWrapper .sectionTitle {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionTitle {
    column-gap: 33px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionTitle {
    column-gap: 31px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionTitle {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionTitle {
    margin-bottom: 51px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionTitle {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionTitle {
    width: 345px;
  }
}
#concept .sectionWrapper .sectionTitle h2 {
  color: #282F35;
}
#concept .sectionWrapper .sectionTitle span {
  height: 5px;
  background-color: #282F35;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionTitle span {
    width: 200px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionTitle span {
    width: 90px;
  }
}
#concept .sectionWrapper article {
  margin-right: auto;
  margin-left: auto;
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  color: #171717;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article {
    width: 345px;
  }
}
#concept .sectionWrapper article .title {
  width: 100%;
  text-align: center;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .title {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .title {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .title {
    height: 95px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .title {
    height: 57px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .title {
    line-height: 1.67;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .title {
    line-height: 1.5;
  }
}
#concept .sectionWrapper article .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .wrapper {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .wrapper {
    margin-bottom: 40px;
  }
}
#concept .sectionWrapper article .wrapper .body {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.875;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .wrapper .body {
    width: 440px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .wrapper .body {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .wrapper img {
    width: 440px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .wrapper img {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper article .wrapper img {
    height: 240px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper article .wrapper img {
    height: 150px;
  }
}
#concept .sectionWrapper .sectionSubtitle {
  text-align: right;
  font-family: "Noto Serif", serif;
  letter-spacing: 0.05em;
  opacity: 0.05;
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionSubtitle {
    height: 122px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionSubtitle {
    height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  #concept .sectionWrapper .sectionSubtitle {
    font-size: 90px;
  }
}
@media screen and (max-width: 1199px) {
  #concept .sectionWrapper .sectionSubtitle {
    font-size: 40px;
  }
}

#works {
  position: relative;
}
#works .works-bg {
  width: 100%;
  height: 986px;
  object-fit: cover;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  #works .works-bg {
    height: 986px;
  }
}
@media screen and (max-width: 1199px) {
  #works .works-bg {
    height: 1533px;
  }
}
#works .sectionWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper {
    top: 104px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper {
    top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper {
    bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper {
    bottom: 40px;
  }
}
#works .sectionWrapper .sectionTitle {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionTitle {
    column-gap: 48px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionTitle {
    column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionTitle {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionTitle {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionTitle {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionTitle {
    width: 345px;
  }
}
#works .sectionWrapper .sectionTitle h2 {
  color: white;
}
#works .sectionWrapper .sectionTitle span {
  height: 5px;
  background-color: white;
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionTitle span {
    width: 200px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionTitle span {
    width: 100px;
  }
}
#works .sectionWrapper article {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper article {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper article {
    width: 320px;
  }
}
#works .sectionWrapper article .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 28px;
}
#works .sectionWrapper article .cards .card {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}
#works .sectionWrapper article .cards .card img {
  display: flex;
  width: 320px;
  height: 200px;
}
#works .sectionWrapper article .cards .card p {
  display: flex;
  padding: 25px 20px;
  width: 320px;
  height: 134px;
  background-color: white;
  text-align: left;
  letter-spacing: 0.05em;
  line-height: 1.875;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 400;
  color: #141414;
}
#works .sectionWrapper article button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 235px;
  height: 59px;
  border-radius: 30px;
  background-color: #F7D43F;
  letter-spacing: 0.05em;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 700;
  color: #171717;
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper article button {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper article button {
    margin-top: 82px;
  }
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper article button {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper article button {
    margin-bottom: 40px;
  }
}
#works .sectionWrapper .sectionSubtitle {
  letter-spacing: 0.05em;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: white;
  opacity: 0.1;
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionSubtitle {
    height: 107px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionSubtitle {
    height: 61px;
  }
}
@media screen and (min-width: 1200px) {
  #works .sectionWrapper .sectionSubtitle {
    font-size: 90px;
  }
}
@media screen and (max-width: 1199px) {
  #works .sectionWrapper .sectionSubtitle {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #service .sectionWrapper {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper {
    margin-top: 109px;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper {
    margin-bottom: 64px;
  }
}
#service .sectionWrapper .sectionTitle {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionTitle {
    column-gap: 29px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionTitle {
    column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionTitle {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionTitle {
    margin-bottom: 87px;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionTitle {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionTitle {
    width: 345px;
  }
}
#service .sectionWrapper .sectionTitle h2 {
  color: #282F35;
}
#service .sectionWrapper .sectionTitle span {
  height: 5px;
  background-color: #282F35;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionTitle span {
    width: 200px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionTitle span {
    width: 100px;
  }
}
#service .sectionWrapper article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article {
    row-gap: 30px;
  }
}
#service .sectionWrapper article .card {
  position: relative;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article .card {
    width: 33.3333333333vw;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article .card {
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article .card {
    height: 320px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article .card {
    height: 250px;
  }
}
#service .sectionWrapper article .card img {
  object-fit: cover;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article .card img {
    width: 33.3333333333vw;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article .card img {
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article .card img {
    height: 320px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article .card img {
    height: 250px;
  }
}
#service .sectionWrapper article .card p {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: italic;
  color: white;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper article .card p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper article .card p {
    font-size: 20px;
  }
}
#service .sectionWrapper .sectionSubtitle {
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  font-family: "Noto Serif", serif;
  letter-spacing: 0.05em;
  opacity: 0.05;
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionSubtitle {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionSubtitle {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionSubtitle {
    height: 122px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionSubtitle {
    height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  #service .sectionWrapper .sectionSubtitle {
    font-size: 90px;
  }
}
@media screen and (max-width: 1199px) {
  #service .sectionWrapper .sectionSubtitle {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
